*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

header{
    max-width: 1920px;
    min-height: 80px;
    background-color: #add8e6;
    padding: 1em;
}

.boxed{
    max-width: 1200px;
    min-height: 44px;
    margin: 0 auto;
    background-color: goldenrod;
    border: 1px dashed black;
  
   
}

.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.headerbox{
    padding: 1em;
    font-size: 1em;
}

